DEBUG=True
SECRET_KEY=django-insecure-example-key
DB_NAME=tima_shop
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=127.0.0.0 # for local Use 127.0.0.1, for docker use db
DB_PORT=5432
FRONTEND_URL=https://joyful-gingersnap-2aa0e1.netlify.app/

# Telegram Notifications
TELEGRAM_BOT_TOKEN=8375190269:AAECV6WhxU3tnVnRJhynHjAP75gV9mRch-k
TELEGRAM_CHAT_ID=8456049332
